@model VetAssistant.Web.ViewModels.Clinic.AddClinicFormModel;

@{
    ViewData["Title"] = "Add Clinic";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h2>@ViewData["Title"]</h2>
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <form asp-action="Add" method="post" enctype="multipart/form-data">
                <!-- Name -->
                <div class="mb-3">
                    <label asp-for="@Model.Name" class="form-label">Clinic Name</label>
                    <input asp-for="@Model.Name" class="form-control" />
                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                </div>

                <!-- Town -->
                <div class="mb-3">
                    <label asp-for="@Model.Town" class="form-label">Town</label>
                    <input asp-for="@Model.Town" class="form-control" />
                    <span asp-validation-for="@Model.Town" class="text-danger"></span>
                </div>

                <!-- Address -->
                <div class="mb-3">
                    <label asp-for="@Model.Address" class="form-label">Address</label>
                    <input asp-for="@Model.Address" class="form-control" />
                    <span asp-validation-for="@Model.Address" class="text-danger"></span>
                </div>

                <!-- Country -->
                <div class="mb-3">
                    <label asp-for="@Model.CountryId" class="form-label">Country</label>
                    <select asp-for="@Model.CountryId" class="form-control" aria-required="true" asp-items="@(new SelectList(Model.Countries, "Id", "Name"))">
                        <option value="">Select Country...</option>
                    </select>
                    <span asp-validation-for="@Model.CountryId" class="text-danger"></span>
                </div>

                <!-- Email -->
                <div class="mb-3">
                    <label asp-for="@Model.Email" class="form-label">Email</label>
                    <input asp-for="@Model.Email" type="email" class="form-control" />
                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                </div>

                <!-- Phone Number -->
                <div class="mb-3">
                    <label asp-for="@Model.PhoneNumber" class="form-label">Phone Number</label>
                    <input asp-for="@Model.PhoneNumber" type="tel" class="form-control" />
                    <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
                </div>

                <!-- Working Time -->
                <div class="mb-3">
                    <label asp-for="@Model.WorkingTime" class="form-label">Working Time</label>
                    <input asp-for="@Model.WorkingTime" class="form-control" />
                    <span asp-validation-for="@Model.WorkingTime" class="text-danger"></span>
                </div>

                <!-- Submit Button -->
                <div class="mb-2">
                    <input class="btn btn-primary btn-dark-text w-100 py-2 fw-bold rounded" type="submit" value="Save" />
                </div>
            </form>
        </div>
    </div>
</div>
